

.div-cores {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.div-cores2 {
    background-color: orange;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

